---
  Checks:          '*,
                    -fuchsia-default-arguments-calls,
                    -fuchsia-overloaded-operator,
                    -hicpp-no-array-decay,
                    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                    -modernize-use-trailing-return-type,
                    -google-readability-braces-around-statements,
                    -readability-braces-around-statements,
                    -cppcoreguidelines-avoid-magic-numbers,
                    -readability-magic-numbers,
                    -google-readability-todo,
                    -llvm-header-guard,                             # We use #pragma once
                    # Duplicate checks:
                    -hicpp-special-member-functions,
                    -hicpp-braces-around-statements,
                    -hicpp-special-member-functions
                    '
  CheckOptions:
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor, value: '1' }
...
