BasedOnStyle: GNU

# Generic
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
FixNamespaceComments: true

ColumnLimit: 120
SpaceBeforeParens: ControlStatements

# Indentation
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseCRLF: false
UseTab: Always

# Braces
Cpp11BracedListStyle: false
BreakBeforeBraces: Attach
