BasedOnStyle: GNU

# Generic
Language: Cpp
Standard: c++17
FixNamespaceComments: true
BinPackArguments: false
AllowAllArgumentsOnNextLine: false

SpaceBeforeCpp11BracedList: true
AlwaysBreakAfterReturnType: All
ColumnLimit: 120
SpaceBeforeParens: ControlStatements

# Indentation
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseCRLF: false
UseTab: Always
AccessModifierOffset: -4

# Braces
Cpp11BracedListStyle: false
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
