dist: bionic
language: c
compiler:
  - clang
  - gcc
script: make
before_install:
  - sudo mkdir -p /usr/local/include/openssl
  - sudo mkdir -p /usr/local/lib/pkgconfig
  - sudo mkdir -p /usr/local/bin
  - wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-includes.tar.gz
  - sudo tar -xzf libressl-includes.tar.gz -C /usr/local/include/openssl
  - wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-binaries.tar.gz
  - sudo tar -xzf libressl-binaries.tar.gz -C /usr/local/bin
  - wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-pc.tar.gz
  - sudo tar -xzf libressl-pc.tar.gz -C /usr/local/lib/pkgconfig
  - sudo apt-get -y install libglew-dev libglfw3-dev
  - sudo apt-get -y install libfreetype-dev || sudo apt -y install libfreetype6-dev
