dist: bionic
language: c
compiler:
  - clang
  - gcc
script: make
before_install:
  # LibreSSL
  - sudo mkdir -p /usr/local/include/openssl
  - sudo mkdir -p /usr/local/lib/pkgconfig
  - sudo mkdir -p /usr/local/lib
  - wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-includes.tar.gz
  - sudo tar -xzf libressl-includes.tar.gz -C /usr/local/include
  - wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-binaries.tar.gz
  - sudo tar -xzf libressl-binaries.tar.gz -C /usr/local/lib
  - wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-pc.tar.gz
  - sudo tar -xzf libressl-pc.tar.gz -C /usr/local/lib/pkgconfig
  # Apt update database
  - sudo apt update -y
  # GLEW + GLFW
  - sudo apt -y install libglew-dev libglfw3-dev
  # FreeType
  - sudo apt -y install libfreetype-dev || sudo apt -y install libfreetype6-dev
  # GoogleTest
  - (sudo apt install googletest libgtest-dev && sudo apt install googletest-tools) || wget https://github.com/google/googletest/archive/v1.10.x.tar.gz && tar -xf v1.10.x.tar.gz && googletest-1.10.x && cmake . && make && sudo make install && cd ..
