name: C/C++ CI

on:
  push:
    branches: [ master, reformatting ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: sudo apt -y install openssl libssl-dev libglew-dev libglfw3-dev libfreetype6-dev googletest libgtest-dev libpango1.0-dev
    - name: Build
      run: mkdir build && cd build && cmake .. && cmake --build . && cd ..
#    - name: Test
#      run: make test
