name: C/C++ CI

on:
  push:
    branches: [ master, reformatting ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: LibreSSL-directories
      run: sudo mkdir -p /usr/local/include/openssl && sudo mkdir -p /usr/local/lib/pkgconfig && sudo mkdir -p /usr/local/lib
    - name: LibreSSL-includes
      run: wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-includes.tar.gz && sudo tar -xzf libressl-includes.tar.gz -C /usr/local/include
    - name: LibreSSL-binaries
      run: wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-binaries.tar.gz && sudo tar -xzf libressl-binaries.tar.gz -C /usr/local/lib
    - name: LibreSSL-pc
      run: wget https://raw.githubusercontent.com/usadson/BuildCache/master/LibreSSL/libressl-pc.tar.gz && sudo tar -xzf libressl-pc.tar.gz -C /usr/local/lib/pkgconfig
    - name: update
      run: sudo apt -y update
    - name: general-apt-deps
      run: sudo apt -y install libglew-dev libglfw3-dev
    - name: freetype-apt-deps
      run: sudo apt -y install libfreetype-dev || sudo apt -y install libfreetype6-dev
    - name: googletest-apt-deps
      run: (sudo apt install googletest libgtest-dev && sudo apt install googletest-tools) || wget https://github.com/google/googletest/archive/v1.10.x.tar.gz && tar -xf v1.10.x.tar.gz && cd googletest-1.10.x && cmake . && make && sudo make install && cd ..
    - name: Build
      run: tools/build-fast.sh
    - name: Test
      run: make test
