name: C/C++ CI

on:
  push:
    branches: [ master, reformatting ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt -y update
    - name: openssl-apt-deps
      run: sudo apt -y install openssl libssl-dev
    - name: general-apt-deps
      run: sudo apt -y install libglew-dev libglfw3-dev
    - name: freetype-apt-deps
      run: sudo apt -y install libfreetype-dev || sudo apt -y install libfreetype6-dev
    - name: googletest-apt-deps
      run: (sudo apt install googletest libgtest-dev && sudo apt install googletest-tools) || wget https://github.com/google/googletest/archive/v1.10.x.tar.gz && tar -xf v1.10.x.tar.gz && cd googletest-1.10.x && cmake . && make && sudo make install && cd ..
    - name: Build
      run: tools/build-fast.sh
    - name: Test
      run: make test
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
